.comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  border-bottom: 2px solid #5b5b5b;
}

.commentAvatar {
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #0077ff;
  min-width: 45px;
  min-height: 45px;
  max-width: 45px;
  max-height: 45px;
}

.username {
  color: #c4c5c5;
  font-weight: bold;
  margin-right: 10px;
}

.date {
  font-size: 12px;
  color: #c4c5c5;
  font-weight: bold;
}

.avatarWrapper {
  background-color: transparent;
  border: none;
  outline: none;
}

.commentHeader div {
  margin: 2px 0;
}

.commentText {
  font-size: 18px;
  padding: 5px 0;
}

@media only screen and (min-width: 768px) {
  .comment {
    flex-direction: row;
    align-items: flex-start;
  }

  .commentAvatar {
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
  }

  .username {
    margin-right: 15px;
  }
}