.comment {
  display: flex;
  align-items: flex-start;
  padding: 10px;
}

.commentAvatar {
  border-radius: 50%;
  object-fit: cover; /*todo*/
  border: 3px solid #0077ff;
  margin: 0 20px;
  margin-right: 10px;
  width: 45px;
  height: 45px;
}

.commentHeader {
  display: flex;
  align-items: center;
}

.username {
  font-weight: bold;
  margin-right: 10px;
}

.date {
  font-size: 12px;
  color: #c4c5c5;
}

.avatarWrapper {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
