.card {
  width: 90%;
  max-width: 600px;
  min-height: 300px;
  background: #1d1d1d;
  padding: 20px 30px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.headingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.heading {
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
  color: #e9e9ea;
}

.logoImg {
  width: 30px;
}

@media (max-width: 768px) {
  .card {
    padding: 20px;
  }

  .heading {
    font-size: 24px;
  }
}