.card {
  background: #262625;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
  max-width: 500px;
  margin-bottom: auto;
  margin-top: auto;
}

.card img {
  border-radius: 10px;
}

.avatarWrapper {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 5px;
}

.avatarImage {
  height: 98%;
  width: 98%;
  object-fit: cover; /* maintain aspect ratio */
}

.mediaWrapper {
  margin: 10px 0;
  display: flex;
  gap: 15px;
}
