.backArrow {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  margin-bottom: 5px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 767px) {
  .backArrow {
    /* Adjust styling for smaller screens */
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .backArrow {
    /* Adjust styling for medium screens */
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 992px) {
  .backArrow {
    /* Adjust styling for larger screens */
    margin-bottom: 20px;
  }
}