.storyWrapper {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.right {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.mediaWrapper {
  background-color: #1d1a1e;
  height: 300px;
  width: 400px;
}

.mediaStatsWrapper {
  margin-top: 20px;
  background-color: #3d3b3e;
  height: 200px;
  width: 400px;
  color: red;
}

.commentsWrapper {
  background-color: #3d3b3e;
  height: 300px;
  width: 400px;
  margin: 10px 0;
}
