.storyWrapper {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  /* margin: 0 auto; */
  width: 50%;
  margin-top: 20px;
  justify-content: space-around;
  border-radius: 10px;
  background-color: #1d1a1e;
}

.right {
  display: flex;
  flex-direction: column;
  background-color: #1d1a1e;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  width: 45%;
}

.mediaWrapper {
  background-color: #2a292a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 20px;
  border-radius: 10px;
}

.mediaStatsWrapper {
  background-color: #3d3b3e;
  margin: 0 20px;
  color: #c4c5c5;
  border-radius: 10px;
}

.commentsWrapper {
  background-color: #3d3b3e;
  height: 90%;
  margin: 30px;
  margin-bottom: 5px;
  margin-left: 15px;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 5px;
}

.mediaStats {
  display: flex;
  padding: 30px;
  font-size: 20px;
  align-items: center; /* vertical */
  justify-content: space-around;
}

.mediaStats p {
  font-weight: bold;
}

.avatarWrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 10px 20px;
  margin-bottom: 0px;
}

.avatarImage {
  height: 98%;
  width: 98%;
  object-fit: cover; /* maintain aspect ratio */
}

.storyHeader {
  display: flex;
  align-content: center;
  justify-content: flex-start;
}

.storyHeader p {
  margin: auto 0;
}

.storyDataWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.storyCreatedAt {
  margin-top: 5px;
  color: #c4c5c5;
  font-weight: bold;
  font-size: 12px;
}
