.selectWrapper select {
  background-color: #2a292a;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  /* top-bottom left right */
  color: #bebcc0;
  font-size: 15px;
  font-weight: bold;
  /* margin-bottom: 30px; */
  cursor: pointer;
  /* https://stackoverflow.com/a/14218448 */
  appearance: none;
  -moz-appearance: none;
  /* mozilla */
  -webkit-appearance: none;
  /* chrome and safari */
  background-image: url('~/public/images/arrow_down.png');
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}

.caption {
  background-color: #2a292a;
  outline: none;
  border: none;
  width: 100%;
  height: 200px;
  font-size: 25px;
  padding: 20px;
  resize: none;
  border-radius: 10px;
}

.customizationMenuWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.paletteWrapper {
  display: flex;
  justify-content: space-between;
}

.colorPalette {
  width: 30px;
  cursor: pointer;
  height: 30px;
  border-radius: 50%;
  margin: 0 3px;
}

.blue {
  background-color: #0077ff;
}

.pink {
  background-color: #de1b55;
}

.green {
  background-color: #33b357;
}

/* Styles for screens smaller than 768px */
@media only screen and (max-width: 768px) {
  .caption {
    height: 150px;
    font-size: 20px;
  }

  .selectWrapper select {
    width: 100%;
    margin-bottom: 20px;
  }

  .customizationMenuWrapper {
    flex-direction: column;
  }

  .paletteWrapper {
    margin-top: 20px;
  }

}

/* Styles for screens larger than 768px */
@media only screen and (min-width: 769px) {

  .caption {
    height: 200px;
    font-size: 25px;
  }

  .selectWrapper select {
    width: 200px;
    margin-bottom: 30px;
  }

  .customizationMenuWrapper {
    flex-direction: row;
  }

  .paletteWrapper {
    margin-top: 0;
  }

}