.videoWrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  align-items: center;
  justify-content: center;
}

.videoWrapper video {
  border-radius: 10px;
  width: 100%;
  /* set width to 100% */
  max-width: 500px;
  height: auto;
  /* set height to auto */
  display: flex;
  padding: 20px;
  outline: none;
  border: none;
  display: block;
  object-fit: cover;
}