.description {
  font-size: 22px;
  line-height: 1.6;
  color: #c4c5c5;
  margin-bottom: 30px;
}

.tagLine {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .description {
    font-size: 18px;
    margin-bottom: 20px;
  }
}