.avatarPromptHeading {
  color: #c4c5c5;
  text-align: center;
  margin-bottom: 5px;
}

.avatarWrapper {
  width: 110px;
  height: 110px;
  border: 6px solid #0077ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 15px;
}

.avatarImage {
  height: 98%;
  width: 98%;
  object-fit: cover;
  /* maintain aspect ratio */
}

.avatarSelection {
  display: none;
}

.avatarLabel {
  color: #0077ff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

.avatarLabelWrapper {
  margin-left: 10px;
  font-size: medium;
}

.cardFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorWrapper {
  font-weight: bold;
  color: #de1b55;
}

/* For screens less than or equal to 768px wide */
@media screen and (max-width: 768px) {
  .description {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .tagLine {
    font-size: 24px;
  }

  .backArrow {
    margin-bottom: 10px;
  }

  .avatarPromptHeading {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .avatarWrapper {
    width: 80px;
    height: 80px;
    border-width: 4px;
    margin-bottom: 10px;
  }

  .avatarLabelWrapper {
    font-size: 14px;
  }
}

/* For screens greater than 768px wide */
@media screen and (min-width: 769px) {
  .description {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .tagLine {
    font-size: 28px;
  }

  .backArrow {
    margin-bottom: 5px;
  }

  .avatarPromptHeading {
    font-size: 22px;
    margin-bottom: 5px;
  }

  .avatarWrapper {
    width: 110px;
    height: 110px;
    border-width: 6px;
    margin-bottom: 15px;
  }

  .avatarLabelWrapper {
    font-size: medium;
  }
}