/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
  .storiesHeader {
    flex-direction: column;
    margin-top: 20px;
  }

  .left,
  .right {
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
  }

  .searchBox {
    margin-left: 0;
    margin-right: 0;
    min-width: unset;
    width: 100%;
  }

  .searchInput {
    font-size: 14px;
  }

  .searchButton,
  .createStoryButton {
    font-size: 14px;
    padding: 5px 10px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .storiesHeader {
    flex-direction: row;
  }

  .left,
  .right {
    width: auto;
    margin-bottom: 0;
    justify-content: flex-start;
  }

  .searchBox {
    margin-left: 20px;
    margin-right: 20px;
    min-width: 300px;
    width: auto;
  }

  .searchInput {
    font-size: 18px;
  }

  .searchButton,
  .createStoryButton {
    font-size: 16px;
    padding: 8px 20px;
  }
}


/* Small screens */
@media only screen and (max-width: 600px) {

  .storiesHeader {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .searchBox {
    margin-left: 0;
    margin-top: 20px;
  }

  .right {
    margin-top: 20px;
  }

  .storyGrid,
  .storyList {
    flex-direction: column;
  }

  .storyCustomization {
    margin: 20px 0;
    justify-content: space-between;
  }

  .buttonGroup {
    margin-top: 20px;
  }

}

/* Medium screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {

  .storiesHeader {
    margin-top: 30px;
  }

  .searchBox {
    min-width: 200px;
  }

}

/* Large screens */
@media only screen and (min-width: 1025px) {

  .storiesHeader {
    margin-top: 50px;
  }

  .searchBox {
    min-width: 300px;
  }

}