.commentListWrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  /* center the element horizontally */
}

.commentList {
  height: 60vh;
  overflow-y: auto;
}

.noComments {
  color: #bebcc0;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {

  /* styles for screens smaller than 768px */
  .commentListWrapper {
    width: 100%;
  }

  .commentList {
    height: 50vh;
  }
}