/* global styles 
[] dark mode is deafult, make it dynamic
*/
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: #121212;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

/* https://stackoverflow.com/a/45762747/10934636 */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.container {
  width: 1200px;
  max-width: 90%;
  /* top-bottom left-right */
  margin: 0 auto;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* cleaner way of centering the card */
  min-height: calc(100vh - 140px);
}

.hasAccountAlreadyWrapper {
  margin-top: 25px;
}

.hasAccountAlready {
  color: #0077ff;
}
