/* default styles */
.button {
  background-color: #0077ff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  outline: none;
  display: flex;
  align-items: center;
  margin: 15px auto;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover,
.button:disabled {
  background-color: #014a9c;
}

.buttonTitle {
  color: white;
}

.btnImg {
  margin-left: 10px;
}

/* media queries */
@media only screen and (max-width: 768px) {

  /* adjust button padding and font size */
  .button {
    padding: 8px 16px;
    font-size: 16px;
  }

  /* adjust button icon margin */
  .btnImg {
    margin-left: 8px;
  }
}

@media only screen and (max-width: 480px) {

  /* adjust button padding and font size */
  .button {
    padding: 6px 12px;
    font-size: 14px;
  }

  /* hide button icon */
  .btnImg {
    display: none;
  }
}