.button {
  background-color: #0077ff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  color: #fff;
  outline: none;
  display: flex;
  align-items: center;
  margin: 15px auto;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover,
.button:disabled {
  background-color: #014a9c;
}

.btnImg {
  margin-left: 10px;
}
