.modalMask {
  position: fixed;
  /* take full screen */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalBody {
  width: 90%;
  max-width: 600px;
  /* for huge screens*/
  background-color: #1d1d1d;
  border-radius: 20px;
  position: relative;
}

.modalContent {
  margin-top: 30px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* row wise */
  justify-content: center;
}

@media screen and (min-width: 768px) {

  /* adjust width for medium-sized screens */
  .modalBody {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {

  /* adjust width for large screens */
  .modalBody {
    width: 50%;
  }
}

.heading {
  margin-bottom: 5px;
}

.closeButton {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  /*todo*/
  border: 5px solid #0077ff;
  margin: 5px 20px;
  margin-right: 10px;
  width: 100px;
  height: 100px;
}

.name {
  font-weight: 900;
  color: #e9e9ea;
  font-size: 28px;
}

.username {
  /* font-weight: 900; */
  color: #c8c8c8;
  font-size: 16px;
  margin-top: 2px;
}

.memberSince {
  color: #c8c8c8;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.signOutButton {
  margin-top: 30px;
}