.imagePromptHeading {
  color: #c4c5c5;
  text-align: center;
  margin-bottom: 5px;
}

.imageWrapper {
  width: 250px;
  height: 250px;
  padding: 15px;
  border: 3px solid #0077ff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 10px;
}

.imageImage {
  height: 98%;
  width: 98%;
  object-fit: cover;
  /* maintain aspect ratio */
}

.imageSelection {
  display: none;
}

.imageLabel {
  color: #0077ff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

.imageLabelWrapper {
  margin-left: 10px;
  font-size: medium;
}

.cardFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption {
  background-color: #2a292a;
  outline: none;
  border: none;
  color: #e9e9ea;
  width: 70%;
  font-family: Montserrat;
  height: 70px;
  font-size: 16px;
  padding: 20px;
  resize: none;
  border-radius: 10px;
  margin: 10px 0;
}

@media only screen and (min-width: 768px) {
  .imageWrapper {
    max-width: 350px;
  }
}

@media only screen and (min-width: 992px) {
  .imageWrapper {
    max-width: 450px;
  }
}

@media only screen and (min-width: 1200px) {
  .imageWrapper {
    max-width: 550px;
  }
}